@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");
.button-top-menu {
  font-size: 20px;
  color: #ffffff;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 1px; }

.button-selected {
  font-size: 20px;
  color: #ffffff;
  border: #8B95C9 2px solid;
  border-radius: 5px;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 1px; }

.button-linkedin {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Arial';
  background-color: #0274b3;
  color: #ffffff;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  line-height: 20px; }

.button-switch {
  font-size: 1vw;
  color: #ffffff;
  background-color: #8B95C9;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 3px;
  margin-right: 3px;
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  line-height: 30px;
  cursor: pointer; }

.button-switch-selected {
  background-color: #38c7a3; }

.button-content {
  font-size: 1vw;
  color: #ffffff;
  background-color: #8B95C9;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  line-height: 30px;
  cursor: pointer; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: 100;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.next:hover {
  color: #84DCC6; }

.prev:hover {
  color: #84DCC6; }

.prev {
  left: 0;
  border-radius: 0 10px 10px 0;
  float: left; }

.next {
  right: 0;
  border-radius: 10px 0 0 10px;
  float: right; }

@media screen and (max-width: 1025px) {
  .button-top-menu {
    font-size: 15px; }
  .button-selected {
    font-size: 15px; }
  .button-switch {
    font-size: 2vw; }
  .button-content {
    font-size: 2vw; }
  .prev, .next {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-weight: 80;
    font-size: 30px; } }

@media screen and (max-width: 884px) {
  .button-top-menu {
    font-size: 17px; }
  .button-selected {
    font-size: 17px; }
  .button-switch {
    font-size: 17px; }
  .button-content {
    font-size: 17px; } }

@media screen and (min-width: 2500px) {
  .button-top-menu {
    font-size: 48px; }
  .button-selected {
    font-size: 48px; }
  .button-switch {
    font-size: 1vw; }
  .button-content {
    font-size: 1vw; }
  .prev, .next {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 7px;
    padding-top: 7px;
    font-weight: 120;
    font-size: 80px; } }

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); }

@font-face {
  font-family: 'Lexend Peta', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap"); }

.tester {
  line-height: 10px;
  height: 1100px; }

a {
  color: #fff;
  text-decoration: none; }

a:visited {
  text-decoration: none;
  color: #fff; }

a:hover {
  text-decoration: none;
  color: #fff; }

a:focus {
  text-decoration: none;
  color: #fff; }

a:hover, a:active {
  text-decoration: none;
  color: #fff; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #222629;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/** Menu **/
.left-bar {
  background-color: #222629;
  width: 50px;
  height: 100vh;
  position: fixed;
  z-index: 3500;
  border-right: #84DCC6 3px solid; }

.top-bar {
  width: 100vw;
  height: 50px;
  background-color: #222629;
  position: fixed;
  z-index: 1000; }

.top-menu {
  position: absolute;
  float: right;
  right: 10%;
  margin-top: 10px;
  padding-bottom: 8px;
  border-bottom: #84DCC6 2px solid; }

/** Index **/
.index-container {
  background-color: #222629;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 25px;
  top: -50px; }

.index-name {
  font-size: 9vw;
  color: #84DCC6;
  font-family: "Lexend Peta", sans-serif;
  font-weight: bold;
  text-align: left;
  margin-top: 50px;
  padding-left: 3%;
  line-height: 8vw; }

.index-specialism {
  font-size: 8vw;
  color: #ffffff;
  font-family: "Lexend Peta", sans-serif;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  line-height: 7vw; }

/** Containers **/
.container {
  width: 100%;
  padding: 25px;
  padding-top: 40px; }

.project-bar {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  position: relative;
  top: 50px;
  padding-bottom: 50px; }

.project-title {
  font-size: 1.5vw;
  background-color: #222629;
  color: #ffffff;
  height: 30px;
  width: auto;
  position: absolute;
  left: 0;
  line-height: 50px; }

.skills-title {
  font-size: 1.5vw;
  background-color: #222629;
  color: #ffffff;
  height: 30px;
  width: 100%;
  text-align: center;
  margin-top: 50px; }

.button-switch-container {
  width: 100%;
  height: 40px;
  display: block;
  margin-top: 10px;
  text-align: center; }

.product-container {
  height: auto;
  width: 90%;
  margin-left: 5%;
  padding-top: 10px;
  background-color: #222629;
  display: block;
  float: left; }

.proces-container {
  height: auto;
  width: 90%;
  margin-left: 5%;
  padding-top: 10px;
  background-color: #222629;
  display: none;
  float: left; }

.skill-container {
  height: auto;
  width: 90%;
  margin-left: 5%;
  background-color: #222629;
  display: block;
  padding: 10px;
  text-align: center; }

/** Content **/
.slideshow {
  width: 70%;
  height: auto;
  position: relative;
  padding-right: 0px;
  padding-bottom: 0px;
  display: inline-block; }

.float-left {
  float: left; }

.content-container {
  height: auto;
  width: 28%;
  margin-left: 2%;
  background-color: #222629;
  display: inline-block; }

.content-container:after {
  content: "";
  display: table;
  clear: both; }

.description {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  color: #ffffff;
  text-align: justify;
  float: left;
  width: 100%;
  padding: 10px; }

.description-and-link {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  color: #ffffff;
  text-align: justify;
  float: left;
  width: 100%;
  padding: 10px; }

.link-container {
  float: left;
  width: 100%;
  padding: 10px;
  text-align: center; }

@media screen and (max-width: 1081px) {
  .left-bar {
    display: none; }
  .top-menu {
    right: 5%; }
  .second-menu {
    right: 5%; }
  .index-name {
    font-size: 10vw;
    padding-left: 3%;
    line-height: 9vw; }
  .index-specialism {
    font-size: 9vw;
    line-height: 8vw; }
  .project-bar {
    margin-left: 2%; }
  .product-container {
    width: 96%;
    margin-left: 2%; }
  .proces-container {
    width: 96%;
    margin-left: 2%; }
  .slideshow {
    width: 100%; }
  .content-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0%; }
  .link-container {
    order: 1; }
  .description-and-link {
    font-size: 2vw;
    order: 2; }
  .project-title {
    font-size: 2.5vw; }
  .skills-title {
    font-size: 2.5vw; }
  .button-top-menu {
    font-size: 15px; }
  .button-selected {
    font-size: 15px; }
  .button-switch {
    font-size: 2vw; }
  .button-switch-selected {
    font-size: 2vw; }
  .button-content {
    font-size: 2vw; }
  .prev, .next {
    font-size: 30px; }
  .description {
    font-size: 2vw; } }

@media screen and (min-width: 2500px) {
  .top-bar {
    height: 90px; }
  .second-bar {
    height: 50px;
    margin-top: 90px; }
  .container {
    padding-top: 120px; }
  .index-name {
    font-size: 10vw;
    line-height: 9vw;
    padding-left: 4%;
    margin-top: 200px; }
  .index-specialism {
    font-size: 9vw;
    line-height: 8vw; }
  .button-top-menu {
    font-size: 48px; }
  .button-selected {
    font-size: 48px; }
  .button-linkedin {
    font-size: 48px;
    padding: 18px; }
  .project-bar {
    padding-bottom: 80px; }
  .skills-title {
    margin-top: 70px;
    margin-bottom: 50px; }
  .button-switch {
    font-size: 1vw;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px; }
  .button-switch-selected {
    font-size: 1vw;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px; }
  .button-content {
    font-size: 1vw;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 40px; }
  .prev, .next {
    font-size: 80px; }
  .project-title {
    font-size: 1.5vw; }
  .skills-title {
    font-size: 1.5vw; }
  .description {
    font-size: 1vw; }
  .description-and-link {
    font-size: 1vw; } }

@media screen and (max-width: 884px) {
  .second-bar {
    height: 47px; }
  .container {
    padding-top: 70px; }
  .project-title {
    width: 100%;
    position: relative; }
  .project-bar {
    margin-bottom: 50px;
    padding-bottom: 0px; }
  .button-top-menu {
    font-size: 17px; }
  .project-title {
    font-size: 17px; }
  .skills-title {
    font-size: 17px; }
  .description {
    font-size: 16px; }
  .description-and-link {
    font-size: 16px; }
  .button-switch {
    font-size: 17px; }
  .button-switch-selected {
    font-size: 17px; } }

@media screen and (max-width: 424px) {
  .container {
    padding-top: 40px; }
  .index-text {
    height: auto;
    width: 90%;
    margin-left: 5%;
    float: left; }
  .button-top-menu {
    margin-left: 2px;
    margin-right: 2px; }
  .button-selected {
    margin-left: 2px;
    margin-right: 2px; }
  .small-fill {
    height: 70px; } }
