@import "vars";

// buttons for top navigation menu
.button-top-menu {
  font-size: $top-menu-button-font-size-normal;
  color: $button-top-menu-font-color;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 1px; 
}
.button-top-menu:hover {
  border-bottom: $button-top-menu-border-bottom-on-hover; 
}
.button-selected {
  font-size: $top-menu-button-font-size-normal;
  color: $button-top-menu-font-color;
  border-bottom: $button-top-menu-border-bottom-on-selected;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 1px; 
}
<<<<<<< 346d28993be0f9541993a8d47ef6262369d5044d
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
// .button-linkedin {
//   height: 300px;
//   width: 300px;
//   background-image: url("../content/linkedin.png");
//   background-color: #cccccc;
//   height: 500px;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
//   min-height: 100%;
// }

.button-linkedin {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Arial';
  background-color: #0274b3;
  color: #ffffff;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  line-height: 20px;
}
>>>>>>> parent of fccddf4... ty
=======
>>>>>>> parent of bdbd48f... adjusted top-menu in About
>>>>>>> Revert "adjusted top-menu in About"

// button for switching between product and proces
.button-switch {
  font-size: $button-switch-content-font-size-normal;
  color: $button-switch-content-font-color;
  background-color: $button-switch-content-backgroundcolor;
  border: $button-switch-content-border;
  padding-top: $button-content-switch-padding-top-bottom;
  padding-bottom: $button-content-switch-padding-top-bottom;
  padding-left: $button-content-switch-padding-left-right;
  padding-right: $button-content-switch-padding-left-right;
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  line-height: 30px; 
}

// button to products
.button-content {
  font-size: $button-switch-content-font-size-normal;
  color: $button-switch-content-font-color;
  background-color: $button-switch-content-backgroundcolor;
  border: $button-switch-content-border;
  padding-top: $button-content-switch-padding-top-bottom;
  padding-bottom: $button-content-switch-padding-top-bottom;
  padding-left: $button-content-switch-padding-left-right;
  padding-right: $button-content-switch-padding-left-right;
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  line-height: 30px; 
}

// buttons for slideshows
.prev, .next {
  cursor: pointer;
  position: absolute;
  padding-left: $prev-next-buttons-padding-left-right-normal;
  padding-right: $prev-next-buttons-padding-left-right-normal;
  padding-bottom: $prev-next-buttons-padding-top-bottom-normal;
  padding-top: $prev-next-buttons-padding-top-bottom-normal;
  font-weight: $prev-next-buttons-font-weight-normal;
  font-size: $prev-next-buttons-font-size-normal;
  background-color: $button-slideshow-background-color;
  color: $button-slideshow-font-color;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}
.next:hover {
  color: $button-slideshow-font-color-on-hover; 
}
.prev:hover {
  color: $button-slideshow-font-color-on-hover; 
}
.prev {
  left: 0;
  border-radius: 0 10px 10px 0;
  float: left; 
}
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
  float: right; 
}

// media query for buttons on screen smaller than 1025px
@media screen and (max-width: 1025px) {
  .button-top-menu {
    font-size: $top-menu-button-font-size-small;
  }
  .button-selected {
    font-size: $top-menu-button-font-size-small;
  }
  .button-switch {
    font-size: $button-switch-content-font-size-small;
  }
  .button-content {
    font-size: $button-switch-content-font-size-small;
  }
  .prev, .next {
    padding-left: $prev-next-buttons-padding-left-right-small;
    padding-right: $prev-next-buttons-padding-left-right-small;
    padding-bottom: $prev-next-buttons-padding-top-bottom-small;
    padding-top: $prev-next-buttons-padding-top-bottom-small;
    font-weight: $prev-next-buttons-font-weight-small;
    font-size: $prev-next-buttons-font-size-small;
  }
}

// media query for buttons on screen larger than 2500px
@media screen and (min-width: 2500px) {
  .button-top-menu {
    font-size: $top-menu-button-font-size-large;
  }
  .button-selected {
    font-size: $top-menu-button-font-size-large;
  }
  .button-switch {
    font-size: $button-switch-content-font-size-large;
  }
  .button-content {
    font-size: $button-switch-content-font-size-large;
  }
  .prev, .next {
    padding-left: $prev-next-buttons-padding-left-right-large;
    padding-right: $prev-next-buttons-padding-left-right-large;
    padding-bottom: $prev-next-buttons-padding-top-bottom-large;
    padding-top: $prev-next-buttons-padding-top-bottom-large;
    font-weight: $prev-next-buttons-font-weight-large;
    font-size: $prev-next-buttons-font-size-large;
  }
}
