@import "vars";

// buttons for top navigation menu
.button-top-menu {
  font-size: $top-menu-button-normal-font-size;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1px; 
}
.button-top-menu:hover {
  border-bottom: 4px solid #fff; 
}
.button-selected {
  font-size: $top-menu-button-normal-font-size;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1px;
  border-bottom: 4px solid #e60000; 
}

// button for switching between product and proces
.button-switch {
  font-size: $button-switch-content-normal-font-size;
  color: $button-switch-content-font-color;
  background-color: $button-switch-content-backgroundcolor;
  border: $button-switch-content-border;
  padding-top: $button-content-switch-padding-top-bottom;
  padding-bottom: $button-content-switch-padding-top-bottom;
  padding-left: $button-content-switch-padding-left-right;
  padding-right: $button-content-switch-padding-left-right;
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  line-height: 30px; 
}

// button to products
.button-content {
  font-size: $button-switch-content-normal-font-size;
  color: $button-switch-content-font-color;
  background-color: $button-switch-content-backgroundcolor;
  border: $button-switch-content-border;
  padding-top: $button-content-switch-padding-top-bottom;
  padding-bottom: $button-content-switch-padding-top-bottom;
  padding-left: $button-content-switch-padding-left-right;
  padding-right: $button-content-switch-padding-left-right;
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  line-height: 30px; 
}

// buttons for slideshows
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: -230px;
  width: 40px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-weight: 100;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.8);
  color: #e60000;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}
.next:hover {
  color: #fff; 
}
.prev:hover {
  color: #fff; 
}
.prev {
  left: 0;
  border-radius: 0 10px 10px 0;
  float: left; 
}
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
  float: right; 
}

@media screen and (max-width: 1280px) {
  .button-top-menu {
    font-size: $top-menu-button-small-font-size;
  }
  .button-selected {
    font-size: $top-menu-button-small-font-size;
  }
  .button-switch {
    font-size: $button-switch-content-small-font-size;
  }
  .button-content {
    font-size: $button-switch-content-small-font-size;
  }
}

@media screen and (min-width: 2500px) {
  .button-top-menu {
    font-size: $top-menu-button-large-font-size;
  }
  .button-selected {
    font-size: $top-menu-button-large-font-size;
  }
  .button-switch {
    font-size: $button-switch-content-large-font-size;
  }
  .button-content {
    font-size: $button-switch-content-large-font-size;
  }
}