// PALETTE 
$backgroundcolor: #222629; 
$firstaccentcolor: #84DCC6; 
$secondaccentcolor: #D6EDFF; 
$thirdaccentcolor: #ACD7EC;
$fourthaccentcolor: #8B95C9; 

// COLOR BUTTONS
$button-font-color: #ffffff;
$selected-top-button-accent-color: #8B95C9; 
$selected-top-button-border-width: 2px;
$switch-button-background-color: #8B95C9;
$selected-switch-button-background-color: #38c7a3;
$content-button-background-color: #8B95C9;
$button-slideshow-font-color: #ACD7EC; 
$button-slideshow-font-color-on-hover: #84DCC6;
$button-slideshow-background-color: rgba(0, 0, 0, 0.8);
$button-border-radius: 5px;

// COLOR BACKGROUND  
$body-background-color: $backgroundcolor; 
$left-bar-background-color: #222629; 
$top-bar-background-color: #222629; 

$left-bar-border-color: #84DCC6;
$left-bar-border-width: 3px;
$top-menu-bottom-border-color: #84DCC6;
$top-menu-border-width: 2px; 


// COLOR FONTS
$index-name-font-color: #84DCC6;
$index-specialism-font-color: #ffffff;

$title-font-color: #ffffff;
$description-font-color: #ffffff; 

// FONTS TYPES
$index-name-font: 'Lexend Peta', sans-serif;
$index-specialism-font: 'Roboto', sans-serif;
$index-text-font: 'Roboto', sans-serif;
$description-font: 'Roboto', sans-serif;
$button-switch-content-font: 'Roboto', sans-serif;
$second-menu-button-font: 'Roboto', sans-serif;
$top-menu-button-font: 'Roboto', sans-serif;

// FONT SIZES
$index-name-font-size-small: 70px;
$index-name-line-height-small: 70px;
$index-name-font-size-normal: 140px;
$index-name-line-height-normal: 130px;
$index-name-font-size-large: 200px;
$index-name-line-height-large: 180px;

$index-specialism-font-size-small: 40px;
$index-specialism-line-height-small: 40px;
$index-specialism-font-size-normal: 50px;
$index-specialism-line-height-normal: 50px;
$index-specialism-font-size-large: 100px;
$index-specialism-line-height-large: 100px;

$top-menu-button-font-size-small: 15px;
$top-menu-button-font-size-normal: 20px; 
$top-menu-button-font-size-large: 48px; 

$title-font-size-small: 15px;
$title-font-size-normal: 24px;
$title-font-size-large: 45px;

$description-font-size-small: 12px;
$description-font-size-normal: 14px;
$description-font-size-large: 30px;

$button-switch-content-font-size-small: 14px; 
$button-switch-content-font-size-normal: 16px; 
$button-switch-content-font-size-large: 35px;

$prev-next-buttons-font-weight-small: 80;
$prev-next-buttons-font-size-small: 30px;
$prev-next-buttons-font-weight-normal: 100;
$prev-next-buttons-font-size-normal: 40px;
$prev-next-buttons-font-weight-large: 120;
$prev-next-buttons-font-size-large: 80px;

// DIV SIZES AND PADDING
$top-menu-height: 50px;
$second-menu-height: 25px;
$second-menu-height-very-small: 47px;
$product-and-proces-container-height: auto;
$product-and-proces-container-padding: 10px;
$product-and-proces-container-width-normal: 90%;
$product-and-proces-container-width-small: 96%;
$product-and-proces-container-margin-left-normal: 5%;
$product-and-proces-container-margin-left-small: 2%;

$button-content-switch-padding-top-bottom-normal: 1px;
$button-content-switch-padding-top-bottom-large: 10px;
$button-content-switch-padding-left-right-normal: 8px;
$button-content-switch-padding-left-right-large: 12px;

$button-switch-margin-left-right-normal: 3px;
$button-switch-margin-left-right-large: 10px;

$prev-next-buttons-padding-left-right-small: 6px;
$prev-next-buttons-padding-top-bottom-small: 4px;
$prev-next-buttons-padding-left-right-normal: 8px;
$prev-next-buttons-padding-top-bottom-normal: 5px;
$prev-next-buttons-padding-left-right-large: 12px;
$prev-next-buttons-padding-top-bottom-large: 7px;
