// Container sizes
$product-and-proces-container-height: auto;
$product-and-proces-container-padding: 10px;
$product-and-proces-container-width-normal: 90%;
$product-and-proces-container-margin-left-normal: 5%;
$product-and-proces-container-width-small: 96%;
$product-and-proces-container-margin-left-small: 2%;

// Font sizes for titles
$title-container-font-size-normal: 20px;
$title-container-font-size-small: 15px; 

// Font type and font sizes for description
$description-font: 'Montserrat';
$description-font-size-normal: 14px;
$description-font-size-small: 12px; 
$description-font-size-large: 17px;

// Button top menu properties
$top-menu-button-font: 'Roboto', sans-serif; 
$top-menu-button-font-size-normal: 22px; 
$top-menu-button-font-size-small: 17px; 
$top-menu-button-font-size-large: 28px; 

// Button switch/content properties
$button-switch-content-font: 'Roboto', sans-serif; 
$button-switch-content-font-size-normal: 16px; 
$button-switch-content-font-size-small: 14px; 
$button-switch-content-font-size-large: 18px;

$button-switch-content-font-color: #000000 ; 
$button-switch-content-backgroundcolor: #ffffff; 
$button-switch-content-border: 1px solid #000000;
$button-content-switch-padding-top-bottom: 1px;
$button-content-switch-padding-left-right: 8px;

// Buttons slideshows properties
$prev-next-buttons-padding-left-right-normal: 8px;
$prev-next-buttons-padding-top-bottom-normal: 5px;
$prev-next-buttons-font-weight-normal: 100;
$prev-next-buttons-font-size-normal: 40px;

$prev-next-buttons-padding-left-right-small: 6px;
$prev-next-buttons-padding-top-bottom-small: 4px;
$prev-next-buttons-font-weight-small: 80;
$prev-next-buttons-font-size-small: 30px;

$prev-next-buttons-padding-left-right-large: 12px;
$prev-next-buttons-padding-top-bottom-large: 7px;
$prev-next-buttons-font-weight-large: 120;
$prev-next-buttons-font-size-large: 50px;
