@import "vars";

.introduction-container {
    background-color: #000000;
    background-image: url("../content/desktop-background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 25px;
    top: -$top-menu-height;
}
.introduction-text {
    border: solid 2px red;
    height: 200px;
    width: 200px;
}

.border-left-top {
    border-left: $slideshow-border-thickness $slideshow-border-type $slideshow-border-color;
    border-top: $slideshow-border-thickness $slideshow-border-type $slideshow-border-color; 
}
.border-left-bottom {
    border-left: $slideshow-border-thickness $slideshow-border-type $slideshow-border-color;
    border-bottom: $slideshow-border-thickness $slideshow-border-type $slideshow-border-color;
}
.border-right-top {
    border-right: $slideshow-border-thickness $slideshow-border-type $slideshow-border-color;
    border-top: $slideshow-border-thickness $slideshow-border-type $slideshow-border-color;
}
.border-right-bottom {
    border-right: $slideshow-border-thickness $slideshow-border-type $slideshow-border-color;
    border-bottom: $slideshow-border-thickness $slideshow-border-type $slideshow-border-color;
}
