@import "vars";

.introduction-container {
    background-color: green;
    height: 100vh;
    width: 100vw;
    top: -$top-menu-height;
}

.introduction-text {
    border: solid 2px red;
    height: 200px;
    width: 200px;

}