@import "vars";

.index-container {
    background-color: #000000;
    background-image: url("../content/desktop-background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 25px;
    top: -$top-menu-height;
}
.index-name {
    font-size: $index-name-font-size-large;
    color: $index-name-font-color;
    font: $index-name-font;
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
    padding-left: 3%;
}
.index-specialism {
    font-size: $index-specialism-font-size-large;
    color: $index-specialism-font-color;
    font: $index-specialism-font;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    padding-left: 3%;
}
.index-text {
    font-size: $index-text-font-size-large;
    color: $index-text-font-color;
    font: $index-text-font;
    height: 200px;
    width: 200px;
    float: right;
    text-align: left;
}
