@import "vars";
@import "buttons";
@import "general";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

@font-face {
  font-family: 'Lexend Peta', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");
}

/* Scrollbar styling */
  * {
  scrollbar-width: thin;
  scrollbar-color: #515a61 #84DCC6;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #84DCC6;
}
*::-webkit-scrollbar-thumb {
  background-color: #515a61;
  border-radius: 20px;
  border: 3px solid #84DCC6;
}

.tester {
  line-height: 10px;
  height: 1100px;
}

a { color: #fff; text-decoration: none; }
a:visited { text-decoration: none; color: #fff; }
a:hover { text-decoration: none; color: #fff; }
a:focus { text-decoration: none; color: #fff; }
a:hover, a:active { text-decoration: none; color: #fff }

html {
  scroll-behavior: smooth;
}
body {
  background-color: $body-background-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** Menu **/
.left-bar {
  background-color: $left-bar-background-color;
  width: 50px;
  height: 100vh;
  position: fixed;
  z-index: 3500; 
  border-right: $left-bar-border-color $left-bar-border-width solid;
}
.top-bar {
  width: 100vw;
  height: $top-menu-height;
  background-color: $top-bar-background-color;
  position: fixed;
  z-index: 1000; 
}
.top-menu {
  position: absolute;
  float: right;
  right: 10%;
  margin-top: 10px; 
  padding-bottom: 8px;
  border-bottom: $top-menu-bottom-border-color $top-menu-border-width solid;
}
  
/** Index **/ 
.index-container {
  background-color: $body-background-color;
  // background-image: url("../content/desktop-background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 25px;
  top: -$top-menu-height;
}
.index-name {
  font-size: $index-name-font-size-normal;
  color: $index-name-font-color;
  font-family: $index-name-font;
  font-weight: bold;
  text-align: left;
  margin-top: 100px;
  padding-left: 3%;
  line-height: $index-name-line-height-normal;
}
.index-specialism {
  font-size: $index-specialism-font-size-normal;
  color: $index-specialism-font-color;
  font-family: $index-specialism-font;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  line-height: $index-specialism-line-height-normal;
}

/** Containers **/
.container {
  width: 100%;
  padding: 25px; 
  padding-top: 40px;
}
.project-bar {
  width: 90%;
  margin-left: $product-and-proces-container-margin-left-normal;
  text-align: center;
  position: relative;
  top: 50px;
  padding-bottom: 50px;
}
.project-title {
  font-size: $title-font-size-normal;
  background-color: $body-background-color;
  color: $title-font-color;
  height: 30px;
  width: auto;
  position: absolute;
  font-weight: bold;
  left:0;
}
.skills-title {
  font-size: $title-font-size-normal;
  background-color: $body-background-color;
  color: $title-font-color;
  height: 30px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.button-switch-container {
  width: 100%;
  height: 40px;
  display: block;
  margin-top: 10px;
  text-align: center; 
}
.product-container {
  height: $product-and-proces-container-height;
  width: $product-and-proces-container-width-normal;
  margin-left: $product-and-proces-container-margin-left-normal; 
  padding-top: $product-and-proces-container-padding;
  background-color: $body-background-color;
  display: block;
  float: left;
}
.proces-container {
  height: $product-and-proces-container-height;
  width: $product-and-proces-container-width-normal;
  margin-left: $product-and-proces-container-margin-left-normal;
  padding-top: $product-and-proces-container-padding;
  background-color: $body-background-color;
  display: none;
  float: left;
}
.skill-container {
  height: auto;
  width: 90%;
  margin-left: 5%;
  background-color: $body-background-color;
  display: block;
  padding: 10px; 
  text-align: center;
}

/** Content **/
.slideshow {
  width: 70%;
  height: auto;
  position: relative;
  padding-right: 0px;
  padding-bottom: 0px; 
  display: inline-block;
}
.float-left {
  float: left;
}
.content-container {
  height: auto;
  width: 28%;
  margin-left: 2%;
  background-color: $body-background-color;
  display: inline-block;
}
// Clear floats after the columns 
.content-container:after {
  content: "";
  display: table;
  clear: both;
}
.description {
  font-family: $description-font;
  font-size: $description-font-size-normal;
  color: $description-font-color;
  text-align: justify;
  float: left;
  width: 100%;
  padding: 10px;
}
.description-and-link {
  font-family: $description-font;
  font-size: $description-font-size-normal;
  color: $description-font-color;
  text-align: justify;
  float: left;
  width: 100%;
  padding: 10px;
}
.link-container {
  float: left;
  width: 100%;
  padding: 10px;
  text-align: center;
}

// media query for elements on screens smaller than 1025px
@media screen and (max-width: 1025px) {
  .left-bar {
    display: none;
  }
  .top-menu {
    right: 5%;
  }
  .second-menu {
    right: 5%;
  }
  // .index-container {
  //   background-image: url("../content/mobile-background-1.jpg");
  // }
  .index-name {
    font-size: $index-name-font-size-small;
    padding-left: 3%;
    line-height: $index-name-line-height-small;
  }
  .index-specialism {
    font-size: $index-specialism-font-size-small;
    line-height: $index-specialism-line-height-small;
  }
  .project-bar {
    margin-left: $product-and-proces-container-margin-left-small; 
  }
  .product-container {
    width: $product-and-proces-container-width-small;
    margin-left: $product-and-proces-container-margin-left-small; 
  }
  .proces-container {
    width: $product-and-proces-container-width-small;
    margin-left: $product-and-proces-container-margin-left-small;
  }
  .slideshow {
    width: 100%;
  }
  .content-container {
    width: 100%;;
    display: flex; 
    flex-wrap: wrap;
    margin-left: 0%;
  }
  .link-container {
    text-align: center;
    width: 25%;
    display: inline-block;
    padding-top: 50px;
  }
  .description-and-link {
    font-size: $description-font-size-small;
    width: 75%;
    display: inline-block;
  }
  .project-title {
    font-size: $title-font-size-small;
  }
  .skills-title {
    font-size: $title-font-size-small;
  }
  .javascript-title {
    font-size: $title-font-size-small;
  }
  .description {
    font-size: $description-font-size-small;
  }
}

/************************* JavaScript Project Styling *************************/
/******************************************************************************/
/******************************************************************************/

/* JavaScript Containers */ 
.javascript-top-bar {
  width: 100%;
  height: auto;
  padding: 50px;
  text-align: center;
}
.javascript-container {
  height: auto;
  width: 100%;
  padding: 50px;
  display: block;
  overflow: hidden;
}
.javascript-container-left {
  height: auto;
  width: 49%;
  left: 0;
  display: inline-block;
  flex: 1;
  overflow: hidden;
  text-align: center;
}
.javascript-container-right {
  height: auto;
  width: 49%;
  right: 0;
  display: inline-block;
  flex: 1;
  overflow: hidden;
  text-align: center;
}
.javascript-title {
  font-size: $title-font-size-normal;
  background-color: $body-background-color;
  color: $title-font-color;
  height: 30px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.code-container {
  height: 460px;
  width: 80%;
  margin-left: 10%; 
  text-align: left;
}
.code-block {
  height: 450px;
}

/* Clock CSS */
.clock-container {
  border: 1px solid #fff;
  padding: 10px;
  width: 285px;
  display: inline-block;
}
.clock {
  color: #8B95C9;
  font-size: 40px;
  font-family: Orbitron;
  letter-spacing: 7px;
  margin-left: 10px;
}

/* Calculator CSS */
.calculator {
  font-weight: 300;
  font-size: 28px;
  width: 215px;
  height: 265px;
  text-align: center;
  margin-top: 100px;
  border: 2px solid #8B95C9;
  padding: 5px;
  display: inline-block;
}
.calculator::before,
.calculator::after {
  content: " ";
  display: table;
}
.calculator::after {
  clear: both;
}
.calc-screen {
  color: #222629;
  background-color: #ffffff;
  float: left;
  line-height: 40px;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 140px;
  height: 40px;
  margin: 5px;
  padding-right: 3px;
}
.calc-button {
  background: #84DCC6;
  color: #222629;
  cursor: pointer;
  float: left;
  margin: 5px;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
  border: 1px solid #ffffff;
}
.calc-button:hover {
  background-color: #2d9f83;
}
.calc-button:active {
  border: 0px;
}

/**** TO DO LIST ****/
.todo-list {
  color: #000000;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  color: #222629;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.todo-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.todo-close:hover {
  background-color: 84DCC6;
  color: white;
}
.todo-header {
  background-color: #8B95C9;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  height: 100px;
}
.todo-header:after {
  content: "";
  display: table;
  clear: both;
}
.todo-input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 85%;
  padding: 10px;
  float: left;
  font-size: 16px;
  color: #222629;
}
.todo-addbutton {
  padding: 10px;
  width: 40px;
  background-color: #84DCC6;
  color: #222629;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.todo-addbutton:hover {
  background-color: #bbb;
}

/* password generator */
.password-container {
  background-color: #84DCC6;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  color: #222629;
}
.password-header {
  padding: 1rem;
}
.password {
  background-color: #ffffff;
  display: flex;
  font-size: 20px;
  height: 35px;
  width: 100%;
  position: relative;
  padding: 5px;
  overflow: auto;
}
.password-content-container {
  padding: 0 1rem 1rem;
}
.password-content {
  color: #222629;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
}
.generate {
  background-color: #8B95C9;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
}

/*** VIDEO PLAYER ***/
#wrapper {
  margin:0 auto;
  margin-left: 5%;
	padding:0px;
  width: 90%;
  margin-left:5%;
}
#player_wrapper {
	position:relative;
	width:100%;
}
#video_player {
	width:100%;
}
#player_controls {
	top:98%;
	position:absolute;
	background-color:black;
  width:100%;
	padding:5px;
	box-sizing:border-box;
}
input[type="image"] {
	float:left;
	height:20px;
	margin-left:2px;
	margin-right:5px;
	margin-top:2px;
}
#vol_img {
	margin-left:150px;
	width:20px;
}

/*** WINKELWAGEN ***/
.winkel-container {
  width: 80%;
  margin-left: 10%;
}
.winkel-knop {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background: #8B95C9;
  color: #222629;
  font-size: 12px;
  font-weight: bold;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
}
.product span {
  font-weight: bold;
}
.product-image img {
  display: block;
  max-width: 228px;
  height: 200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
}
.row .product:last-child {
  margin-right: 0;
}
.product-add-to-cart {
  overflow: hidden;
  clear: both;
  margin-top: 10px;
}
.see-more {
  float: left;
  background: indianred;
}
.add-to-cart {
  float: right;
}
.winkelwagen {
  position: relative;
  top: 0;
  right: 0;
  width: 250px;
  min-height: 250px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 20px;
  background: #84DCC6;
  margin-bottom: 15px;
}
.shopping-cart-head {
  background: #8B95C9;
  color: #222629;
  padding: 5px;
}
.todo-input {
  width: 70%;
}
.empty-cart-btn,
.cart-checkout {
  display: none;
}
.empty-cart-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
.cart-checkout {
  background: limegreen;
  border-radius: 0px;
}

// media query for elements on screen larger than 2500px
@media screen and (min-width: 2500px) {
  .top-bar {
    height: 90px;
  }
  .second-bar {
    height: 50px;
    margin-top: 90px;
  }
  .container {
    padding-top: 120px;
  }
  .index-name {
    font-size: $index-name-font-size-large;
    line-height: $index-name-line-height-large;
    padding-left: 4%;
    margin-top: 200px;
  }
  .index-specialism {
    font-size: $index-specialism-font-size-large;
    line-height: $index-specialism-line-height-large;
  }
  .button-top-menu {
    font-size: $top-menu-button-font-size-large;
  }
  .button-selected {
    font-size: $top-menu-button-font-size-large;
  }
  .button-linkedin {
    font-size: 48px;
    padding: 18px;
  }
  .project-bar {
    padding-bottom: 80px;
  }
  .button-switch {
    font-size: $button-switch-content-font-size-large;
    padding-bottom: $button-content-switch-padding-top-bottom-large;
    padding-top: $button-content-switch-padding-top-bottom-large;
    margin-left: $button-switch-margin-left-right-large;
    margin-right: $button-switch-margin-left-right-large;
  }
  .button-switch-selected {
    font-size: $button-switch-content-font-size-large;
    padding-bottom: $button-content-switch-padding-top-bottom-large;
    padding-top: $button-content-switch-padding-top-bottom-large;
    margin-left: $button-switch-margin-left-right-large;
    margin-right: $button-switch-margin-left-right-large;
  }
  .button-content {
    font-size: $button-switch-content-font-size-large;
    padding-bottom: $button-content-switch-padding-top-bottom-large;
    padding-top: $button-content-switch-padding-top-bottom-large;
    margin-top: 40px;
  }
  .prev, .next {
    font-size: $prev-next-buttons-font-size-large;
  }
  .project-title {
    font-size: $title-font-size-large;
  }
  .skills-title {
    font-size: $title-font-size-large;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .javascript-title {
    font-size: $title-font-size-large;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .description {
    font-size: $description-font-size-large;
  }
  .description-and-link {
    font-size: $description-font-size-large;
  }
}

// media query for elements on screen smaller than 884px
@media screen and (max-width: 884px) {
  .index-name {
    margin-top: 100px;
  }  
  .second-bar {
    height: $second-menu-height-very-small;
  }
  .skill-container {
    width: 100%;
    margin-left: 0%;
  }
  .container {
    padding-top: 70px;
  }
  .project-title {
    width: 100%;
    position: relative;
  }
  .project-bar {
    margin-bottom: 50px;
    padding-bottom: 0px;
  }
  .button-top-menu {
    font-size: $top-menu-button-font-size-very-small;
  }
  .project-title {
    font-size: $title-font-size-very-small;
  }
  .skills-title {
    font-size: $title-font-size-very-small;
  }
  .description {
    font-size: $description-font-size-very-small;
  }
  .description-and-link {
    font-size: $description-font-size-very-small;
    order: 2;
    width: 100%;
  }
  .link-container {
    order: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  .button-switch {
    font-size: $button-switch-content-font-size-very-small;
  }
  .button-switch-selected {
    font-size: $button-switch-content-font-size-very-small;
  }

  /************* JavaScript Elements for smaller than 884px *****************/
  .javascript-container {
    height: auto;
    width: 100%;
    display: block;
    padding: 25px;
  }
  .javascript-container-left {
    left: 0;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    order: 1;
  }
  .javascript-container-right {
    right: 0;
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    order: 2;
  }
  .javascript-top-bar {
    padding: 25px;
  }
  .javascript-title {
    font-size: $title-font-size-very-small;
  }
  .code-container {
    height: 460px;
    width: 90%;
    margin-left: 5%; 
    text-align: left;
    margin-top: 50px;
  }
  .calculator {
    margin-top: 30px;
  }
  .todo-list {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
  }
  .password-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .winkel-container {
    width: 90%;
    margin-left: 5%;
  }
  .winkelwagen {
    width: 100%;
  }
}

// media query for elements on screen smaller than 424px
@media screen and (max-width: 424px) {
  .container {
    padding-top: 40px;
  }
  .index-text {
    height: auto;
    width: 90%;
    margin-left: 5%;
    float: left;
  }
  .button-top-menu {
    margin-left: 2px;
    margin-right: 2px;
  }
  .button-selected {
    margin-left: 2px;
    margin-right: 2px;
  }
  .small-fill {
    height: 70px;
  }
}
