@import "vars";
@import "buttons";
@import "general";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

.tester {
  line-height: 10px;
  height: 1100px;
}

a { color: #fff; text-decoration: none; }
a:visited { text-decoration: none; color: #fff; }
a:hover { text-decoration: none; color: #fff; }
a:focus { text-decoration: none; color: #fff; }
a:hover, a:active { text-decoration: none; color: #fff }

html {
  scroll-behavior: smooth;
}
body {
  background-color: $body-background-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** Menu **/
.left-bar {
  background-color: $left-bar-background-color;
  width: 50px;
  height: 100vh;
  position: fixed;
  z-index: 3500; 
}
.top-bar {
  width: 100vw;
  height: $top-menu-height;
  background-color: $top-bar-background-color;
  position: fixed;
  z-index: 1000; 
}
.top-menu {
  position: absolute;
  float: right;
  right: 10%;
  margin-top: 10px; 
  padding-bottom: 5px;
  border-bottom: 1px #000000 solid;
}
.second-bar {
  width: 100vw;
  height: $second-menu-height;
  background-color: $second-bar-background-color;
  position: fixed;
  z-index: 1000; 
  margin-top: $top-menu-height;
  display: none;
}
.second-menu {
  position: absolute;
  float: right;
  right: 10%;
}
  
/** Index **/ 
.index-container {
  background-color: #000000;
  background-image: url("../content/desktop-background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 25px;
  top: -$top-menu-height;
}
.index-name {
  font-size: $index-name-font-size-normal;
  color: $index-name-font-color;
  font-family: $index-name-font;
  font-weight: bold;
  text-align: left;
  margin-top: 50px;
  padding-left: 3%;
  line-height: 60px;
}
.index-specialism {
  font-size: $index-specialism-font-size-normal;
  color: $index-specialism-font-color;
  font-family: $index-specialism-font;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  padding-left: 3%;
  line-height: 51px;
}
.index-text {
  font-size: $index-text-font-size-normal;
  color: $index-text-font-color;
  font-family: $index-text-font;
  height: auto;
  width: 350px;
  padding: 10px;
  float: right;
  margin-right: 10%;
  text-align: left;
  margin-top: 40px;
  background-color: $index-text-background-gradient;
  // text-align: justify;
}

/** Containers **/
.container {
  width: 100%;
  padding: 25px; 
  padding-top: 40px;
}
.project-bar {
  width: 90%;
  margin-left: $product-and-proces-container-margin-left-normal;
  text-align: center;
  position: relative;
  top: 50px;
  padding-bottom: 50px;
}
.project-title {
  font-size: $project-title-font-size-normal;
  background-color: $project-title-background-color;
  color: $project-title-font-color;
  height: 30px;
  width: auto;
  position: absolute;
  left:0;
  line-height: 50px;
}
.skills-title {
  font-size: $skills-title-font-size-normal;
  background-color: $skills-title-background-color;
  color: $skills-title-font-color;
  height: 30px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.button-switch-container {
  width: 100%;
  height: 40px;
  display: block;
  margin-top: 10px;
  text-align: center; 
}
.product-container {
  height: $product-and-proces-container-height;
  width: $product-and-proces-container-width-normal;
  margin-left: $product-and-proces-container-margin-left-normal; 
  padding-top: $product-and-proces-container-padding;
  background-color: $product-container-background-color;
  display: block;
  float: left;
}
.proces-container {
  height: $product-and-proces-container-height;
  width: $product-and-proces-container-width-normal;
  margin-left: $product-and-proces-container-margin-left-normal;
  padding-top: $product-and-proces-container-padding;
  background-color: $proces-container-background-color;
  display: none;
  float: left;
}
.skill-container {
  height: auto;
  width: 90%;
  margin-left: 5%;
  background-color: $content-container-background-color;
  display: block;
  padding: 10px; 
  text-align: center;
}

/** Content **/
.slideshow {
  width: 70%;
  height: auto;
  position: relative;
  padding-right: 0px;
  padding-bottom: 0px; 
  display: inline-block;
}
.float-left {
  float: left;
}
.content-container {
  height: auto;
  width: 28%;
  margin-left: 2%;
  background-color: $content-container-background-color;
  display: inline-block;
}
// Clear floats after the columns 
.content-container:after {
  content: "";
  display: table;
  clear: both;
}
.description {
  font-family: $description-font;
  font-size: $description-font-size-normal;
  color: $description-font-color;
  text-align: justify;
  float: left;
  width: 100%;
  padding: 10px;
}
.description-and-link {
  font-family: $description-font;
  font-size: $description-font-size-normal;
  color: $description-font-color;
  text-align: justify;
  float: left;
  width: 100%;
  padding: 10px;
}
.link-container {
  float: left;
  width: 100%;
  padding: 10px;
  text-align: center;
}

// media query for elements on screens smaller than 1025px
@media screen and (max-width: 1081px) {
  .left-bar {
    display: none;
  }
  .top-menu {
    right: 5%;
  }
  .second-menu {
    right: 5%;
  }
  .index-container {
    background-image: url("../content/mobile-background-1.jpg");
  }
  .index-name {
    font-size: $index-name-font-size-small;
    padding-left: 3%;
    line-height: $index-name-line-height-small;
  }
  .index-specialism {
    font-size: $index-specialism-font-size-small;
    padding-left: 3%;
    line-height: $index-specialism-line-height-small;
  }
  .project-bar {
    margin-left: $product-and-proces-container-margin-left-small; 
  }
  .product-container {
    width: $product-and-proces-container-width-small;
    margin-left: $product-and-proces-container-margin-left-small; 
  }
  .proces-container {
    width: $product-and-proces-container-width-small;
    margin-left: $product-and-proces-container-margin-left-small;
  }
  .slideshow {
    width: 100%;
  }
  .content-container {
    width: 100%;;
    display: flex; 
    flex-wrap: wrap;
    margin-left: 0%;
  }
  .link-container {
    order: 1;
  }
  .description-and-link {
    font-size: $description-font-size-small;
    order: 2;
  }
  .index-text {
    font-size: $index-text-font-size-small;
    margin-right: 5%;
  }
  .project-title {
    font-size: $project-title-font-size-small;
  }
  .skills-title {
    font-size: $skills-title-font-size-small;
  }
  .button-top-menu {
    font-size: $top-menu-button-font-size-small;
  }
  .button-selected {
    font-size: $top-menu-button-font-size-small;
  }
  .button-second-menu {
    font-size: $second-menu-button-font-size-small;
  }
  .button-switch {
    font-size: $button-switch-content-font-size-small;
  }
  .button-switch-selected {
    font-size: $button-switch-content-font-size-small;
  }
  .button-content {
    font-size: $button-switch-content-font-size-small;
  }
  .prev, .next {
    font-size: $prev-next-buttons-font-size-small;
  }
  .description {
    font-size: $description-font-size-small;
  }
}

// media query for elements on screen larger than 2500px
@media screen and (min-width: 2500px) {
  .top-bar {
    height: 90px;
  }
  .second-bar {
    height: 50px;
    margin-top: 90px;
  }
  .container {
    padding-top: 120px;
  }
  .index-name {
    font-size: $index-name-font-size-large;
    line-height: $index-name-line-height-large;
    margin-top: 200px;
  }
  .index-specialism {
    font-size: $index-specialism-font-size-large;
    line-height: $index-specialism-line-height-large;
  }
  .index-text {
    font-size: $index-text-font-size-large;
    width: 1000px;
  }
  .button-top-menu {
    font-size: $top-menu-button-font-size-large;
  }
  .button-selected {
    font-size: $top-menu-button-font-size-large;
  }
  .button-second-menu {
    font-size: $second-menu-button-font-size-large;
  }
  .button-linkedin {
    font-size: 48px;
    padding: 18px;
  }
  .project-bar {
    padding-bottom: 80px;
  }
  .skills-title {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .button-switch {
    font-size: $button-switch-content-font-size-large;
    padding-bottom: $button-content-switch-padding-top-bottom-large;
    padding-top: $button-content-switch-padding-top-bottom-large;
    margin-left: $button-switch-margin-left-right-large;
    margin-right: $button-switch-margin-left-right-large;
  }
  .button-switch-selected {
    font-size: $button-switch-content-font-size-large;
    padding-bottom: $button-content-switch-padding-top-bottom-large;
    padding-top: $button-content-switch-padding-top-bottom-large;
    margin-left: $button-switch-margin-left-right-large;
    margin-right: $button-switch-margin-left-right-large;
  }
  .button-content {
    font-size: $button-switch-content-font-size-large;
    padding-bottom: $button-content-switch-padding-top-bottom-large;
    padding-top: $button-content-switch-padding-top-bottom-large;
    margin-top: 40px;
  }
  .prev, .next {
    font-size: $prev-next-buttons-font-size-large;
  }
  .project-title {
    font-size: $project-title-font-size-large;
  }
  .skills-title {
    font-size: $skills-title-font-size-large;
  }
  .description {
    font-size: $description-font-size-large;
  }
  .description-and-link {
    font-size: $description-font-size-large;
  }
}

// media query for elements on screen smaller than 884px
@media screen and (max-width: 884px) {
  .second-bar {
    height: $second-menu-height-very-small;
  }
  .container {
    padding-top: 70px;
  }
  .project-title {
    width: 100%;
    position: relative;
  }
  .project-bar {
    margin-bottom: 50px;
    padding-bottom: 0px;
  }
}

// media query for elements on screen smaller than 424px
@media screen and (max-width: 424px) {
  .container {
    padding-top: 40px;
  }
  .index-text {
    height: auto;
    width: 90%;
    margin-left: 5%;
    float: left;
  }
  .button-top-menu {
    margin-left: 2px;
    margin-right: 2px;
  }
  .button-selected {
    margin-left: 2px;
    margin-right: 2px;
  }
  .small-fill {
    height: 70px;
  }
}


//   .toggle-button {
//     display: block;
//     position: fixed;
//     margin-left: -8px;
//     top: 40px;
//     left: 15px;
//     width: 30px;
//     height: 30px;
//     background-image: url(content/hamburger.png);
//     background-position: 0 0;
//     background-size: 100% 100%;
//     z-index: 3500;
//     visibility: visible; }
  
//   .sidebar {
//     background-color: #2b2b2b;
//     top: 0px;
//     left: -400px;
//     width: 250px;
//     height: 100vh;
//     padding-left: 50px;
//     position: fixed;
//     z-index: 3000;
//     padding-top: 30px;
//     transition: 0.5s; }
  
//   .active {
//     left: 0px; }
  
//   .button-sidebar {
//     height: 50px;
//     width: 100%;
//     background-color: #2b2b2b;
//     font-size: 20px;
//     font-weight: bold;
//     letter-spacing: 2px;
//     color: #ccc;
//     left: 0px;
//     padding-left: 20px;
//     padding-top: 10px; }
  
//   .button-sidebar:hover {
//     background-color: #404040; }
  