body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:1024px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:1024px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89969E;
  text-align:left;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:80px;
  color:#89969E;
  text-align:left;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:945px;
  background:inherit;
  background-color:rgba(237, 238, 242, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89969E;
  text-align:left;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:768px;
  height:945px;
  color:#89969E;
  text-align:left;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:63px;
  background:inherit;
  background-color:rgba(251, 251, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#747D84;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:250px;
  width:503px;
  height:63px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#747D84;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:499px;
  word-wrap:break-word;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89969E;
  text-align:left;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:313px;
  width:503px;
  height:308px;
  color:#89969E;
  text-align:left;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:51px;
  background:inherit;
  background-color:rgba(253, 135, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:538px;
  width:299px;
  height:51px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:295px;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:2px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:312px;
  width:503px;
  height:1px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:73px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:92px;
  width:208px;
  height:73px;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:15px;
  width:51px;
  height:51px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:346px;
  width:299px;
  height:51px;
}
#u923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:51px;
  background-color:#F5F6FA;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A5AEB5;
  text-align:left;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:409px;
  width:299px;
  height:51px;
}
#u924_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:51px;
  background-color:#F5F6FA;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A5AEB5;
  text-align:left;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:75px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:90px;
  width:206px;
  height:75px;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
